@use '../global/colors';
@use '../global/typography';

.header {
    display: flex;
    background-color: colors.$off-black;
    color: colors.$off-white;
    border-bottom: 1px solid colors.$off-white;
    justify-content: center;
    text-align: center;
    font-family: 'Lato', sans-serif;
 
    .italicized {
        font-style: italic;
    }
}