@use "../global/typography";

.main {
    min-height: 100vh;
    display: flex;
}

.quote,
.loading-spinner {
    width: 100%;
    max-width: 750px;
    margin: auto;
    outline: 1px solid red;
    padding: 1rem;

    img {
        width: 30px;
        height: 30px;
        animation: 1s spin linear infinite;
    }
    
    h1 {
        text-align: center;
    }
    h2 {
        text-align: right;
    }
}



@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }